#Ignore data files
/RingkøbingData.csv
/src/DataSet/dataset.json
/ServerReady/Data/dataset.pt
/NewModelFolder/Files/dataset.pt
/NewModelFolder/Files/RingkøbingData.csv
/src/Files/LSTMModels/lstm_model.pth

#Pycache and pyc files ignored
__pycache__/
*.pyc

# Virtual environment
venv/