#Ignore data files
/RingkøbingData.csv
/src/DataSet/dataset.json
/ServerReady/Data/dataset.pt

#LSTM Files ignored
/src/Files/dataset.json
/src/Files/LSTMModels/lstm_model.pth

#Pycache and pyc files ignored
__pycache__/
*.pyc

# Virtual environment
venv/